body {
  font-family: Arial, sans-serif;
  background-image: url('../assets/background.jpeg'); /* path to image */
  background-size: cover;      /* fill container */
  background-position: center; /* center image */
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

header {
  background: #004080;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
  
}

.hero {background-image: url('assets/background1.jpg'); /* path to image */
  background-size: cover;      /* fill container */
  background-position: center; /* center image */
  background-repeat: no-repeat;

  padding: 2rem;
  text-align: center;
}

.team-member {
  border: 1px solid #ddd;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
}
.center{
    
  text-align: center;
}
.logo {
  width: 200px;   /* shrink width */
  height: auto;   /* maintain aspect ratio */
}
.logo1{
     width: 100%;     /* stretch to full width */
  height: auto;    /* maintain aspect ratio */
  display: block;  /* removes unwanted spacing below image */

}