body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #004080;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

main {background-image: url('../assets/background1.jpeg'); /* path to image */
  background-size: cover;      /* fill container */
  background-position: center; /* center image */
  background-repeat: no-repeat;
  
}

.hero {background-image: url('assets/background1.jpg'); /* path to image */
  background-size: cover;      /* fill container */
  background-position: center; /* center image */
  background-repeat: no-repeat;

  padding: 2rem;
  text-align: center;
}

.team-member {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
}
.center{
    
  text-align: center;
}
